@model IEnumerable<Booking.Models.Rezervacija>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idSmjestaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idGosta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumRezervacije)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pocetakBoravka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.krajBoravka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rezervacijaOtkazana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datumOtkazivanja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idSmjestaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idGosta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumRezervacije)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pocetakBoravka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.krajBoravka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rezervacijaOtkazana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datumOtkazivanja)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Otkaži</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
