@model Booking.Models.Smjestaj

@{
    ViewData["Title"] = "Edit";
}

    <h2 class="mb-0 text-center">Uredi smještaj</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-10 col-xl-9">
            <div class="card mt-3 shadow-lg">
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="id" />

                        <div class="form-group">
                            <label asp-for="idVlasnika" class="control-label"></label>
                            <input asp-for="idVlasnika" class="form-control" readonly />
                            <span asp-validation-for="idVlasnika" class="text-danger"></span>
                        </div>

                        <div class="form-row row">
                            <div class="form-group col-md-6">
                                <label asp-for="naziv" class="control-label"></label>
                                <input asp-for="naziv" class="form-control" />
                                <span asp-validation-for="naziv" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="lokacija" class="control-label"></label>
                                <select asp-for="lokacija" class="form-control" asp-items="@(new SelectList(ViewBag.LokacijaList, "Value", "Text"))"></select>
                                <span asp-validation-for="lokacija" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row row">
                            <div class="form-group col-md-6">
                                <label asp-for="adresa" class="control-label"></label>
                                <input asp-for="adresa" class="form-control" />
                                <span asp-validation-for="adresa" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="tipSmjestaja" class="control-label"></label>
                                <select asp-for="tipSmjestaja" class="form-control" asp-items="@(new SelectList(ViewBag.TipSmjestajaList, "Value", "Text"))"></select>
                                <span asp-validation-for="tipSmjestaja" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row row">
                            <div class="form-group col-md-6">
                                <label asp-for="cijenaZaJednuNoc" class="control-label"></label>
                                <input asp-for="cijenaZaJednuNoc" class="form-control" />
                                <span asp-validation-for="cijenaZaJednuNoc" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="ocjena" class="control-label"></label>
                                <input asp-for="ocjena" class="form-control" readonly />
                                <span asp-validation-for="ocjena" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row row">
                            <div class="form-group col-md-6">
                                <label asp-for="brojSoba" class="control-label"></label>
                                <input asp-for="brojSoba" class="form-control" />
                                <span asp-validation-for="brojSoba" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="imageUrl" class="control-label"></label>
                                <input asp-for="imageUrl" class="form-control" />
                                <span asp-validation-for="imageUrl" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-row row">
                            <div class="form-group col-md-6">
                                <label asp-for="imageUrl2" class="control-label"></label>
                                <input asp-for="imageUrl2" class="form-control" />
                                <span asp-validation-for="imageUrl2" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="imageUrl3" class="control-label"></label>
                                <input asp-for="imageUrl3" class="form-control" />
                                <span asp-validation-for="imageUrl3" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="opis" class="control-label"></label>
                            <textarea asp-for="opis" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="opis" class="text-danger"></span>
                        </div>

                        <div class="form-row row">
                            <div class="form-group col-md-4 form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="wifi" /> @Html.DisplayNameFor(m => m.wifi)
                                </label>
                            </div>
                            <div class="form-group col-md-4 form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="parking" /> @Html.DisplayNameFor(m => m.parking)
                                </label>
                            </div>
                            <div class="form-group col-md-4 form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="bazen" /> @Html.DisplayNameFor(m => m.bazen)
                                </label>
                            </div>
                        </div>

                        <div class="form-row row">
                            <div class="form-group col-md-4 form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="kuhinja" /> @Html.DisplayNameFor(m => m.kuhinja)
                                </label>
                            </div>
                            <div class="form-group col-md-4 form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="klima" /> @Html.DisplayNameFor(m => m.klima)
                                </label>
                            </div>
                            <div class="form-group col-md-4 form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="tv" /> @Html.DisplayNameFor(m => m.tv)
                                </label>
                            </div>
                        </div>

                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="balkon" /> @Html.DisplayNameFor(m => m.balkon)
                            </label>
                        </div>

                        <div class="form-group mt-3">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a href="javascript:history.back()" class="btn btn-secondary ml-2">Nazad</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
